<mat-card class="restaurant-card no-shadow" [@zoomInOut]="hoverState" (mouseover)="onHover(true)" (mouseout)="onHover(false)">
  <div class="card-image-container">
    <img mat-card-image [src]="restaurant?.imageUrl" alt="Restaurant Photo">
  </div>
  <mat-card-content>
    <div class="d-flex flex-column">
        <div class="fw-bold text-truncate">{{restaurant?.restaurantName}}</div>
        <div class="d-flex flex-row fw-bold"><mat-icon class="ratingicon">stars</mat-icon>{{restaurant?.rating}}</div>
        <div class="text-secondary text-truncate">{{restaurant?.menuTypes}}</div>
        <div class="text-secondary">{{restaurant?.location}}</div>
    </div>
  </mat-card-content>
</mat-card>
