

.menu-image {
  width: 100%; /* Ensure the image takes full width of its container */
  height: 150px; /* Set a fixed height */
  object-fit: cover; /* Ensure the image covers the entire area */
  object-position: top; /* Align the image to the top */
}

.custom-scroll {
  max-height: 50px !important; /* Set your desired max-height */
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 3px !important; /* Set your desired width for the scrollbar */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #FC8019 !important; /* Set your desired color for the scrollbar thumb */
  }
  &::-webkit-scrollbar-track {
    background-color: lighten(#FC8019, 30) !important;
  }
}

.cart-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.cart-item-image img {
  width: 150px; /* Adjust the width as needed */
  height: auto;
  margin-right: 20px; /* Adjust the spacing between image and details */
}

/* Increase specificity */
div.DataGrid .header-cell {
  font-weight: bold;
}

/* Use !important */
.header-cell {
  font-weight: bold !important;
}

.no-shadow {
  box-shadow: none !important;
}

