// Primary Color
$primary-color: #FC8019;

//Secondary Color
$secondary-color: #FFFFFF;

//Tertiary Color
$tertiary-color: #5C5B5B;

// Rating color
$rating-color: #60b246;

// Delete color
$delete-color: #d00000;
